@import "tailwindcss";

@theme inline {
  --color-pokemon-red: #ef5350;
  --color-black: #2f2f2f;
  --color-pokemon-text: #f9f9f9;
  --color-pokemon-blue: #4fc3f7;
  --color-pokemon-yellow: #ffd700;
  --color-pokemon-glass: rgba(255, 255, 255, 0.1);
}
